<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
	<div th:fragment="navigation-sidebar">
		<ul class="nav nav-sidebar">
			<li th:classappend="${postController != NULL} ? active : ''"><a
				th:href="@{/}">Posts</a></li>
			<li th:classappend="${categoryController != NULL} ? active : ''"><a
				th:href="@{/categories}">Categorias</a></li>
			<li th:classappend="${moderatorController != NULL} ? active : ''"><a
				th:href="@{/moderators}">Moderadores</a></li>
			<li th:classappend="${userController != NULL} ? active : ''"><a
				th:href="@{/users}">Usu&aacute;rios</a></li>
		</ul>
	</div>
</body>
</html>