<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Posts</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-1">
					<strong>Comentários</strong>
				</div>

				<div class="col-md-offset-9 col-md-2 text-right">
					<form th:action="@{/logout}" method="post">
						<a class="btn btn-default mr-2" th:href="@{/}" >Voltar</a>
						<input class="btn btn-default" type="submit" value="Sign Out" />
					</form>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>ID do Post</th>
							<th>Autor</th>
							<th>Texto</th>
							<th>Data</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="comentario : ${comentarios}">
							<td th:text="${comentario.id}"></td>
							<td th:text="${comentario.post.id}"></td>
							<td th:text="${comentario.autor}"></td>
							<td th:text="${comentario.texto}"></td>
							<td th:text="${#dates.format(comentario.data, 'dd/MM/yyyy')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>